<div class="sidebar">
    <div class="logo-details">
      <box-icon type='logo' color="white" name='deezer'></box-icon>
        <div class="logo_name mx-2">DoodleRam</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
        <input type="search" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="/">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
      <a href="/login">
        <i class='bx bx-user' ></i>
        <span class="links_name">Admin</span>
      </a>
      <span class="tooltip">Admin</span>
    </li>
    <li>
      <a href="/books">
        <i class='bx bx-book-content' ></i>
        <span class="links_name">Books</span>
      </a>
      <span class="tooltip">Books</span>
    </li>
    <li>
      <a href="#songs">
        <i class='bx bxs-music' ></i>
        <span class="links_name">songs</span>
      </a>
      <span class="tooltip">Songs</span>
    </li>
    </ul>
  </div>